// Colors
$primary-color: #fbfbfb;
$secondary-color: #c1cfff;
$light-black: #0b0b0b;
$dark-slate-gray: #121315;
$border-color: #212121;
$gray-color: #a4a4a4;
$white: #ffffff;
$black: #000;

// Fonts
$font-light: "utendolight";
$font-regular: "utendoregular";
$font-medium: "utendomedium";
$font-semibold: "utendosemibold";

// Breakpoints
$breakpoints: (
  xs: 320px,
  // Small phones
  sm: 375px,
  // Phones
  md: 768px,
  // Tablets
  lg: 1024px,
  // Small laptops
  xl: 1200px,
  // Laptops
  xxl: 1440px, // Large screens
  2xl: 1536px
);

// Container widths
$container-max-widths: (
  xs: 100%,
  sm: 572px,
  md: 752px,
  lg: 992px,
  xl: 1172px,
  xxl: 1352px,
  2xl: 1472px,
);
