// Colors
$primary-color: #fbfbfb;
$secondary-color: #c1cfff;
$light-black: #0b0b0b;
$white: #fff;
$black: #000;

// Fonts
$font-light: "utendolight";
$font-regular: "utendoregular";
$font-medium: "utendomedium";
$font-semibold: "utendosemibold";

// Breakpoints
$breakpoints: (
  xs: 320px,
  // Small phones
  sm: 375px,
  // Phones
  md: 768px,
  // Tablets
  lg: 1024px,
  // Small laptops
  xl: 1200px,
  // Laptops
  xxl: 1440px // Large screens
);

// Container widths
$container-max-widths: (
  xs: 100%,
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px
);
