.about-hero {
  background-image: url("../images/about-hero.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;

  .row {
    @include flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    padding-top: 40px;

    @include respond-to(md) {
      padding-top: 80px;
    }
  }

  .about-column {
    margin-left: 15px;
    max-width: 100%;

    @include respond-to(md) {
      max-width: 194px;
    }
  }

  .count-text {
    font-size: 24px;
    line-height: 36px;
    color: $gray-color;
    letter-spacing: 0.36px;
  }

  .info {
    padding-bottom: 0;
    margin-left: -15px;
    color: $primary-color;
    font-size: clamp(1.25rem, 0.9562rem + 1.4376vw, 2.25rem);
    line-height: clamp(2rem, 1.6327rem + 1.7969vw, 3.25rem);
    font-family: $font-medium;

    &::before {
      content: "";
      border: 2px solid #003aff;
      border-radius: 50px;
      height: 15px;
      display: inline-block;
      margin-right: 10px;

      @include respond-to(md){
        height: 25px;
      }
    }
  }

  .h2 {
    margin: 15px 0;
  }
}

.about-hero-wrapper {
  padding: 100px 0 35px;
  width: 100%;
  max-width: 1000px;

  @include respond-to(md) {
    padding: 150px 0 56px;
  }

  @include respond-to(lg) {
    padding: 200px 0 80px;
  }

  .desc {
    max-width: 700px;
  }
}
