.blog {
  .row{
    @include respond-to(lg)
  }

  &__pagination {
    display: flex;
    justify-content: center;
    margin-top: 50px;

    &-list {
      display: flex;
      list-style: none;
      padding: 0;
      gap: 10px;
      font-size: 24px;

    }

    &-item {
      &--dots {
        color: #ccc;
      }
    }

    &-link {
      display: block;
      padding: 8px 14px;
      border-radius: 6px;
      background-color: #121315;
      color: $primary-color;
      text-decoration: none;

      &:hover {
        background-color: $primary-color;
        color: #121315;
      }
    }
  }
  &__search {
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: end;
    margin-bottom: 50px;
  }

  &__search-input {
    font-family: 'utendoregular';
    padding: 8px 0;
    letter-spacing: 0.36px;
    font-size: 24px;
    background-color: transparent;
    color: #4C4C4C;
    border: none;
    border-bottom: 1px solid;
    padding-right: 50px;

    &::placeholder {
      color: #A4A4A4;
    }

    &:focus {
      outline: none;
    }
  }

  &__search-button {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background: transparent;
    cursor: pointer;
  }
}

.search-container {
    position: relative;
    display: inline-block;
}
