.blog-details {
  color: #ffffff;
  padding: 75px 0 0;

  @include respond-to(lg) {
    padding: 105px 0 0;
  }

  &__hero {
    position: relative;
  }
  &__image {
    border-radius: 64px;
    display: block;
  }

  &__message {
    @include flex(row, space-between, end);
    position: absolute;
    flex-wrap: wrap;
    bottom: 0;
    padding: 18px;
    color: $primary-color;
    gap: 8px;
    width: 100%;

    @include respond-to(lg) {
      padding: 30px;
      gap: 15px;
    }

    @include respond-to(xxl) {
      padding: 50px;
      gap: 30px;
    }
  }
  .blog {
    &::after {
      border-radius: 64px;
    }
  }
  &__meta {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    color: #a4a4a4;
    padding-bottom: 12px;
    white-space: nowrap;

    @include respond-to(md) {
      gap: 35px;
    }

    @include respond-to(lg) {
      gap: 70px;
      padding-bottom: 20px;
    }
  }

  &__small-title {
    color: $secondary-color;
  }

  &__reading-time {
    position: relative;
    font-family: $font-light;
    color: $primary-color;

    &::before {
      content: "";
      position: absolute;
      background-color: #003aff;
      border-radius: 50px;
      width: 13px;
      height: 13px;
      left: -20px;
      bottom: 5px;
    }
  }

  &__title {
    line-height: 26px;
    max-width: 800px;
    font-family: "utendomedium";
    font-weight: 100;

    @include respond-to(md) {
      line-height: 36px;
    }

    @include respond-to(lg) {
      line-height: 52px;
    }
  }

  &__icons {
    font-family: $font-light;
  }
  .social-icons {
    margin-top: 10px;
    gap: 10px;

    @include respond-to(lg){
        margin-top: 16px;
        gap: 20px;
    }
   

    svg {
        width: 24px;
        height: 24px;
      }

    @include respond-to(md) {
      svg {
        width: 42px;
        height: 42px;
      }
    }
  }
}
