$breakpoints: (
  md: 768px,
  lg: 1024px,
  xl: 1200px,
  xxl: 1440px,
  2xl: 1536px
);

$container-offsets: (
  md: 14px,
  lg: 24px,
  xl: 184px,
  xxl: 404px,
  2xl: 24px
);

.carousel {
  .embla__viewport {
    overflow: hidden;
  }

  .sub-heading {
    font-family: $font-medium;
    color: $primary-color;
    margin-top: 10px;

    @include respond-to(md) {
      margin-top: 20px;
    }
  }

  &__card {
    background-color: $dark-slate-gray;
    padding: 20px;
    min-width: 300px;
    margin-right: 20px;
    color: $primary-color;
    border-radius: 24px;
    border: 1px solid #212121;
    box-shadow: 2px 1px 24px 6px rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    height: auto;

    @include respond-to(md) {
      min-width: 350px;
      margin-right: 40px;
    }

    @include respond-to(lg) {
      min-width: 450px;
    }
  }

  &__card-icons {
    display: flex;
    justify-content: space-between;
    background-image: url("../images/carousel-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 30px;
    border-radius: 10px;
    background-color: #1b1b1b;
    border: 1px solid #212121;
    box-shadow: 2px 1px 24px 6px rgba(0, 0, 0, 0.6);
    color: $primary-color;

    @include respond-to(lg) {
      padding: 45px;
    }
  }

  &__icon {
    background-color: $dark-slate-gray;
    border-radius: 50px;
    padding: 19px;
    width: 64px;
    height: 64px;

    @include respond-to(md) {
      padding: 22px;
      width: 80px;
      height: 80px;
    }
  }

  &__row {
    display: flex;
    user-select: none;
    position: relative;
    width: 100%;
    max-width: 100%;

    @each $breakpoint, $offset in $container-offsets {
      @include respond-to($breakpoint) {
        max-width: calc(100% - $offset);
      }
    }
  }
}

.embla__button {
  background: #333;
  color: #fff;
  border: none;
  border-radius: 50px;
  padding: 14px 16px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.button-controls {
  display: flex;
  margin-top: 40px;
  justify-content: center;
  gap: 13px;
}

.embla__button:hover {
  background: #555;
}
.embla__button--prev {
  left: 11%;
}
.embla__button--next {
  right: 11%;
}

.embla__button__svg {
  width: 15px;
  height: 15px;
}

.embla__button:disabled {
  color: #ffffff34;
}
