.career-details {
    padding: 0 0 35px;

    @include respond-to(md) {
        padding: 0 0 56px;
    }

    @include respond-to(lg) {
        padding: 0 0 80px;
    }

    &__list {
        list-style-type: decimal;
        margin-bottom: 30px;

        @include respond-to(md) {
            margin-bottom: 75px;
        }

        @include respond-to(lg) {
            margin-bottom: 100px;
        }
    }

    &__list-item {
        list-style-type: disc;
    }

    .text-content {
        margin: 14px 0 0 22px;

        @include respond-to(lg){
            margin: 20px 0 0 30px;
        }
    }
}