.help-section {
  padding: 35px 0;

  @include respond-to(md) {
    padding: 56px 0;
  }

  @include respond-to(lg) {
    padding: 80px 0;
  }

  .case-studies-list__image-container {
    position: relative;
  }
  .case-studies-list__details {
    .description {
      margin: 12px 0 22px;

      @include respond-to(lg) {
        margin: 30px 0 45px;
      }
    }

    form {
      display: flex;
      flex-direction: column;

      input,
      textarea,
      .upload-label {
        background-color: #121315;
        color: #a4a4a4;
        border: 1px solid #212121;
        border-radius: 10px;
        padding: 12px 20px;
        margin-bottom: 30px;
        font-size: 18px;
        font-family: $font-light;
        line-height: 28px;
        letter-spacing: 0.36px;
        width: 100%;
        resize: none;

        &::placeholder {
          color: #a4a4a4;
        }
        &:focus {
          outline: none;
        }
      }
      .form-group {
        @include flex;
        flex-wrap: wrap;
        gap: 0;

        @include respond-to(md) {
          flex-wrap: nowrap;
          gap: 40px;
        }
      }

      .required-field {
        position: relative;
      }
      
      .required-field::after {
        content: '*'; /* Add the asterisk */
        color: red; /* Asterisk color */
        font-size: 1rem; /* Adjust size as needed */
        position: absolute;
        top: 50%; /* Align vertically */
        transform: translateY(-50%); /* Center the asterisk */
        right: -20px; /* Adjust spacing based on layout */
      }
      
      .upload-label {
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        input[type="file"] {
          display: none;
        }
        .upload-icon {
          width: 24px;
        }
      }

      .upload-text {
        color: #a4a4a4;
      }
    }
  }
  .review-box {
    position: absolute;
    bottom: 0;
    background-color: rgb(11 11 11 / 60%);
    backdrop-filter: blur(5px);
    border-radius: 16px;
    padding: 10px;
    margin: 10px;
    text-align: center;

    @include respond-to(md) {
      padding: 20px;
      margin: 20px;
    }

    .text {
      letter-spacing: 0.36px;
      line-height: 20px;
      font-size: 14px;
      color: $primary-color;

      @include respond-to(md) {
        font-size: 18px;
        line-height: 22px;
      }

      @include respond-to(lg) {
        font-size: 20px;
        line-height: 32px;
      }
    }

    .testimonial-wrapper__position {
      padding-bottom: 0;
      color: #cfcfcf;
    }

    .testimonial-wrapper__name {
      padding: 9px 0;
      font-size: 14px;

      @include respond-to(lg) {
        padding: 15px 0;
        font-size: 20px;
      }
    }
  }
}
