.our-mission {
  padding: 35px 0;

  @include respond-to(md) {
    padding: 56px 0;
  }

  @include respond-to(lg) {
    padding: 80px 0;
  }

  &__video {
    text-align: center;
  }

  &__video-link {
    display: block;
  }

  &__video-element {
    border-radius: 36px;
    display: block;
    width: 100%;
    height: auto;
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    margin-top: 40px;
  }

  &__block {
    background-color: #1b1b1b;
    border-radius: 36px;
    padding: 30px;
    text-align: center;
    flex: 100%;

    &--last {
      background-color: $dark-slate-gray;
    }

    @include respond-to(lg) {
      flex: 1;
      padding: 50px;
    }
  }

  &__icon {
    width: 72px;
    height: 72px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__title {
    font-family: $font-medium;
    font-size: clamp(1.25rem, 0.7358rem + 2.5157vw, 3rem);
    line-height: clamp(1.5rem, 0.9124rem + 2.8751vw, 3.5rem);
    color: $primary-color;
    margin: 20px 0;
  }

}