.our-process {
  padding: 35px 0;

  @include respond-to(md) {
    padding: 56px 0;
  }

  @include respond-to(lg) {
    padding: 80px 0;
  }

  &__row {
    @include grid(1, 20px);

    @include respond-to(md){
        @include grid(3, 30px);
    }
   
    @include respond-to(xxl){
        @include grid(5, 30px);
    }
  }

  .wordpress-services__inner-card {
    background: $dark-slate-gray;
    padding: 20px;
    flex-direction: column;
    position: relative;
    z-index: 9;
    gap: 10px;

    @include respond-to(lg){
        padding: 30px;
    }

    &::after {
      content: "";
      display: block;
      height: 144px;
      width: 58px;
      background-repeat: no-repeat;
      background-size: cover;
      position: absolute;
      z-index: -1;
      bottom: 0;
      right: 10px;
    }
    &.card-1::after {
      background-image: url("../images/icons/1.svg");
    }

    &.card-2::after {
      width: 105px;
      background-image: url("../images/icons/2.svg");
    }

    &.card-3::after {
      width: 105px;
      background-image: url("../images/icons/3.svg");
    }

    &.card-4::after {
      width: 117px;
      background-image: url("../images/icons/4.svg");
    }

    &.card-5::after {
      width: 105px;
      background-image: url("../images/icons/5.svg");
    }
  }

  .description {
    font-size: 16px;
    line-height: 26px;
  }

  &__title {
    color: $primary-color;
    font-family: $font-medium;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.42px;
    margin: 13px 0;
  }

  &__image-container {
    background: $light-black;
    padding: 13px;
    border-radius: 10px;
    height: 68px;
    width: 68px;

    img {
      display: block;
    }
  }
}
