.our-commitment {
  &-section {
    .row {
      @include flex;
      flex-wrap: wrap;
      gap: 100px;
      background-color: #121315;
      border-radius: 36px;
      padding: 20px;
      align-items: center;
    }
  }

  &-image {
    img {
      border-radius: 24px;
      box-shadow: 17px 16px 22px rgba($black, 0.3);
    }
  }

  &-wrapper {
    width: 35%;
    text-align: center;

    .description {
      margin: 24px 0 30px;
      color: #e5e5e5;
    }
  }
}
