.services-hero {
    &::before {
        background-image: url("../images/about-hero.png");
        pointer-events: none;
    }

    .service-hero-wrapper {
       max-width: 1000px;
    }

    .desc {
        max-width: 700px;
    }
    
    h2 {
        margin: 15px 0;
    }
}