.our-commitment {
  padding: 35px 0;

  @include respond-to(md) {
    padding: 56px 0;
  }

  @include respond-to(lg) {
    padding: 80px 0;
  }

  &__row {
    @include flex();
    flex-wrap: wrap;
    gap: 30px;
    background-color: #121315;
    border-radius: 36px;
    padding: 20px;
    align-items: center;

    @include respond-to(lg) {
      flex-wrap: nowrap;
    }

    @include respond-to(xxl) {
      gap: 150px;
    }
  }

  &__image {
    img {
      display: block;
      border-radius: 24px;
      box-shadow: 17px 16px 22px rgba(0, 0, 0, 0.3);
    }
  }

  &__wrapper {  
    @include flex(column, center);
    text-align: center;
    align-items: center;
    max-width: 100%;
    flex: 100%;

    @include respond-to(lg) {
      max-width: 440px;
    }

    &__title {
      font-size: 2rem;
      margin-bottom: 15px;
    }

    .description {
      margin: 14px 0 15px;

      @include respond-to(md) {
        margin: 24px 0 30px;
      }
    }
  }
}
