.service-section {
  padding: 35px 0;

  @include respond-to(md) {
    padding: 56px 0;
  }

  @include respond-to(lg) {
    padding: 80px 0;
  }

  .row {
    @include flex;
    flex-wrap: wrap;
    gap: 20px;

    @include respond-to(md) {
      gap: 40px;
      align-items: center;
      justify-content: center;
    }
  }

  .column {
    width: 100%;

    @include respond-to(lg) {
      width: calc(50% - 20px);
      @include flex(column);
      gap: 40px;
    }
  }

  .bottom {
    display: flex;
    margin: 24px auto 0;

    @include respond-to(lg) {
      display: none;
    }
  }
}

.service-card {
  background-color: #121315;
  color: #cfcfcf;
  border-radius: 36px;
  position: relative;
  cursor: pointer;
  border: 1px solid transparent;
  transition: all 0.3s ease-in-out;

  &:hover {
    box-shadow: rgba($black, 0.6) 4px 5px 10px 4px;
    position: relative;
    z-index: 1;

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      border-radius: 36px;
      background: linear-gradient(128deg, rgba($white, 0.3) 0%, rgba($white, 0) 40%, rgba($white, 0) 60%, rgba($white, 0.1) 100%);
      padding: 1.5px;
      mask:
        linear-gradient($white 0 0) content-box,
        linear-gradient($white 0 0);
      mask-composite: exclude;
    }
  }
}

.service-block {
  padding: 24px 24px 0;

  @include respond-to(md) {
    padding: 40px 40px 0;
  }
}

.service-text {
  font-family: $font-light;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.36px;
  color: #cfcfcf;
  margin: 24px 0;

  @include respond-to(md) {
    font-size: 18px;
    line-height: 28px;
    margin: 36px 0;
  }
}

.service-card .read-more {
  color: $primary-color;

  &::after {
    background-image: url("../images/icons/white-arrow.svg");
  }
}
