.tech-stack {
  padding: 35px 0;

  @include respond-to(md) {
    padding: 56px 0;
  }

  @include respond-to(lg) {
    padding: 80px 0;
  }

  &__skills {
    display: none;
    flex-wrap: wrap;
    gap: 40px;

    @include respond-to(lg) {
      display: flex;
    }

    @include respond-to(xxl) {
      gap: 80px;
    }

    &-list {
      display: flex;

      @include respond-to(lg) {
        display: block;
        flex: 1;
      }
    }

    &-button {
      white-space: nowrap;
      border: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      font-family: $font-light;
      font-size: 20px;
      line-height: 32px;
      letter-spacing: 0.4px;
      background: transparent;
      color: $gray-color;
      padding: 20px;
      cursor: pointer;
      transition: all 0.3s ease-in-out;

      &--active {
        background: linear-gradient(
          249deg,
          rgba(193, 207, 255, 0.02) 0%,
          rgba(193, 207, 255, 0.03) 35%,
          rgba(193, 207, 255, 0.12) 100%
        );
        border-radius: 14px;

        &::after {
          content: none;
          display: inline-block;
          width: 32px;
          height: 32px;
          background-image: url("../images/icons/arrow-narrow.svg");
          background-size: cover;
          background-repeat: no-repeat;

          @include respond-to(lg) {
            content: "";
          }
        }
      }

      @include respond-to(lg) {
        border-top: 1px solid $border-color;
        flex-direction: row;
      }
    }

    &-tab {
      display: none;
      width: 54%;

      @include respond-to(xl) {
        width: 59%;
      }

      &--list {
        gap: 20px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        @include respond-to(md) {
          grid-template-columns: repeat(3, 1fr);
          gap: 30px;
        }

        @include respond-to(lg) {
          grid-template-columns: repeat(4, 1fr);
        }
      }
      &--list-item {
        display: contents;
      }

      &--active {
        display: block;
      }
    }
  }
  .item-name {
    display: block;
  }
}

.horizontal-tabs {
  display: block;

  @include respond-to(lg) {
    display: none;
  }
}
