.testimonial-section {
  padding: 35px 0;

  @include respond-to(md) {
    padding: 56px 0;
  }

  @include respond-to(lg) {
    padding: 80px 0;
  }

  .row {
    @include flex;
    flex-wrap: wrap;
  }
}

.column {
  width: 100%;

  &-I,
  &-II {
    @include flex;
    flex-wrap: wrap;
  }

  @include respond-to(lg) {
    width: 50%;
  }
}

.sub-column {
  @include flex;
  width: 100%;
  flex-wrap: wrap;

  @include respond-to(lg) {
    width: 50%;
    flex-wrap: nowrap;
  }
}

.last-block {
  width: 100%;

  @include respond-to(md) {
    width: 70%;
  }

  @include respond-to(lg) {
    width: 50%;
  }
}

.testimonial-wrapper {
  text-align: center;
  border: 1px solid #373737;
  border-radius: 36px;
  padding: 32px;
  backdrop-filter: blur(2px);
  transition: all 0.3s ease-in-out;

  @include respond-to(md) {
    padding: 45px 48px;
  }

  &:hover {
    box-shadow: rgba($black, 0.6) 4px 5px 10px 4px;
    position: relative;
    z-index: 1;

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      border-radius: 36px;
      background: linear-gradient(128deg, rgba($white, 0.3) 0%, rgba($white, 0) 40%, rgba($white, 0) 60%, rgba($white, 0.1) 100%);
      padding: 1.5px;
      mask:
        linear-gradient($white 0 0) content-box,
        linear-gradient($white 0 0);
      mask-composite: exclude;
    }
  }

  img {
    border-radius: 50%;
    width: 60px;

    @include respond-to(md) {
      width: 80px;
    }
  }

  .name {
    color: $secondary-color;
    font-family: $font-medium;
    padding: 15px 0;
  }

  .position {
    font-family: $font-light;
    color: $primary-color;
    font-size: 14px;
    padding-bottom: 20px;

    @include respond-to(md) {
      font-size: 16px;
      padding-bottom: 25px;
    }
  }
}

.description {
  color: #a4a4a4;
  font-family: $font-light;
  font-size: 16px;
  letter-spacing: 0.32px;
  line-height: 24px;

  @include respond-to(md) {
    font-size: 18px;
    line-height: 28px;
  }

  @include respond-to(lg) {
    font-size: 20px;
    line-height: 32px;
  }
}

.review-card-image {
  width: 100%;
  margin: 0 auto;
  cursor: pointer;
  transition: transform 0.3s ease;

  @include respond-to(md) {
    width: 360px;
  }

  &:hover {
    transform: translateY(-4px);
  }
}

.image-border {
  border-radius: 36px;
  width: 100%;
  height: auto;
  display: block;
}

// Title block
.name-block {
  margin-bottom: 24px;

  @include respond-to(md) {
    margin-bottom: 32px;
  }

  @include respond-to(lg) {
    margin-bottom: 40px;
  }

  .sub-title {
    color: $secondary-color;
    font-family: $font-medium;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    margin-bottom: 8px;
  }

  .h2 {
    color: $white;
  }
}
