.trusted-section {
  padding: 20px 0;
  border-top: 1px solid #252222;
  border-bottom: 1px solid #252222;
  overflow: hidden;
  z-index: 10;
  position: relative;

  @include respond-to(md) {
    padding: 33px 0;
  }
}

.trustred-slider {
  @include flex;
  gap: 25px;
  align-items: center;

  @include respond-to(md) {
    gap: 50px;
  }
}

.slider {
  display: flex;
  animation: scroll 20s linear infinite;
  will-change: transform;

  img {
    max-width: 70px;
    height: auto;
    object-fit: contain;
    margin-right: 40px;

    @include respond-to(md) {
      max-width: 90px;
      margin-right: 66px;
    }

    @include respond-to(lg) {
      max-width: 100px;
      margin-right: 90px;
    }
  }

  &:hover {
    animation-play-state: paused;
  }
}

.slider-wrapper {
  overflow: hidden;
  width: 100%;
  position: relative;
  mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 25%, rgb(0, 0, 0) 75%, rgba(0, 0, 0, 0) 100%);
  -webkit-mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 25%, rgb(0, 0, 0) 75%, rgba(0, 0, 0, 0) 100%);
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-50%));
  }

  @include respond-to(md) {
    100% {
      transform: translateX(calc(-50%));
    }
  }
}
