.wordpress-services {
  padding: 35px 0;

  @include respond-to(md) {
    padding: 56px 0;
  }

  @include respond-to(lg) {
    padding: 80px 0;
  }

  &__row {
    @include grid(1, 20px);

    @include respond-to(md){
        @include grid(2, 30px);
    }
    @include respond-to(xl){
        @include grid(3, 30px);
    }
  }

  &__service-card {
    background: #1b1b1b;
    color: $white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 24px;
  }

  &__inner-card {
    @include flex(row, space-between, flex-start);
    background: linear-gradient(179deg, #0B0B0B 0%, #131416 100%);
    border: 1px solid $border-color;
    box-shadow: 0 18px 20px rgba(0, 0, 0, 0.3);
    border-radius: 24px;
    padding: 24px 30px 20px;

    @include respond-to(lg){
        padding: 35px 40px 26px;
    }
  }

  &__image-container {
    background: #1B1B1B;
    padding: 15px;
    border-radius: 50px;

    img {
        display: block;
    }
  }

  &__service-text {
    letter-spacing: 0.36px;
    line-height: 32px;
  }

  .description {
    padding: 16px 30px 20px;
    font-size: 16px;
    line-height: 26px;

    @include respond-to(lg){
        padding: 20px 38px 30px;
    }
  }

  .blog-detail__paragraph-title {
    color: $secondary-color;
    margin: 0 0 10px;

    @include respond-to(lg){
        margin: 0 0 20px;
    }
  }
}
