
@font-face {
    font-family: 'utendoregular';
    src: url('../fonts/utendoregular-webfont.woff2') format('woff2'),
         url('../fonts/UtendoRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'utendolight';
    src: url('../fonts/utendolight-webfont.woff2') format('woff2'),
         url('../fonts/utendolight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'utendomedium';
    src: url('../fonts/utendomedium-webfont.woff2') format('woff2'),
         url('../fonts/utendomedium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'utendosemibold';
    src: url('../fonts/utendosemibold-webfont.woff2') format('woff2'),
         url('../fonts/utendosemibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
:root{
    --primary-color: #FBFBFB;
    --secondary-color: #C1CFFF;
    --light-black: #0B0B0B;
    --white: #fff;
    --black: #000;
    --utendo-medium: "utendomedium";
}
*{
    box-sizing: border-box;
}
body{
    font-family: "utendoregular";
    background-color: var(--light-black);
    margin: 0;
    padding: 0;
    font-size: 20px;
    line-height: 22px;
    scroll-behavior: smooth;
}
ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
    transition: all 0.3s;
    color: var(--black);
}
a:hover{
    text-decoration: none;
}
p {
    margin: 0;
}
h1, .h1 {
    margin: 0 0 26px;
    font-size: clamp(2.625rem, 1.7069rem + 4.4924vw, 5.75rem);
    font-family: "utendosemibold";
    line-height: clamp(2.75rem, 1.7951rem + 4.6721vw, 6rem); 
    color: var(--secondary-color);
}
h2, .h2 {
    margin: 0;
    font-family: var(--utendo-medium);
    font-size: clamp(1.75rem, 1.1257rem + 3.0548vw, 3.875rem);
    line-height: clamp(2.25rem, 1.442rem + 3.9533vw, 5rem);
    color: var(--primary-color);
    font-weight: 100;
}
h3 , .h3 {
    margin: 0;
    color: var(--primary-color);
    font-family: "utendosemibold";
    font-size: clamp(1.625rem, 1.4414rem + 0.8985vw, 2.25rem);
    line-height: 32px;
}
.container {
    margin: 0 auto;
    max-width: 1480px;
    padding: 0 20px;
}
/* header css */
.main-header {
  background: transparent;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
}
.nav-list {
    display: flex;
    column-gap: 30px;
    align-items: center;
}
.nav-list li.dropdown>a::after {
    content: "";
    background: url("../images/icons/down-arrow.svg") no-repeat center right;
    background-size: contain;
    width: 10px;
    height: 10px;
    margin-left: 8px;
    display: inline-block;
    transition: all .3s ease-in-out;
}
.logo img {
    display: block;
}
.nav-list li a {
    color: var(--white);
}
.navbar-list {
    display: flex;
    gap: 46px;
}
.button {
    font-family: var(--utendo-medium);
    background-color: var(--primary-color);
    color: var(--black);
    font-size: 18px;
    border-radius: 50px;
    cursor: pointer;
    transition: all .3s ease-in-out;
    border: 1px solid var(--light-black);
    outline: 1.5px solid gray;
    outline-offset: 1px;
}
.btn-primary {
    padding: 18px 28px;
}
.btn-primary:hover {
    color: var(--primary-color);
    background-color: var(--light-black);
}
img {
    width: 100%;
    height: auto;
}
/* header css end */

/* hero-section css */
.hero-section {
    padding: 80px 0;
    background-color: var(--light-black);
    background-image:url("../images/BG.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    margin-top: -110px;
}
.hero-wrapper {
    text-align: center;
    width: 68%;
    margin: 0 auto;
    padding: 147px 0;
}
.card {
    width: 192px;
    display: flex;
    margin: auto;
    justify-content: center;
}
.card img {
    margin-right: -13px;
    transition: all .3s ease-in-out;
    cursor: pointer;
    border-radius: 50%;
    border: 3px solid #1B1B1B;
}
.card img:hover {
    transform: scale(1.1);
}
.review {
    width: 88px;
    display: inline-flex;
    gap: 3px;
    justify-content: center;
    margin-top: 10px;
}
.review-text {
    color: var(--primary-color);
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 38px;
}
.white-text {
    color: var(--primary-color);
}
.desc {
    font-size: 24px;
    line-height: 36px;
}
.btn-secondary {
    display: inline-flex;
    align-items: center;
    gap: 26px;
    font-size: 20px;
    padding: 4px 5px 4px 23px;
}
.btn-secondary .icon {
    width: 50px;
    height: 50px;
    background-color: var(--light-black);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-secondary .icon::before {
    content: "";
    background-image: url("../images/icons/Vector.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    width: 37px;
    height: 37px;
}
.btn-secondary:hover .icon::before {
    transition: all .3s ease-in-out;
    transform: rotate(45deg);
}
/* hero-section css end */

/* trusted-section */

.trusted-section {
    display: flex;
    gap: 50px;
    overflow: hidden;
    align-items: center;
}
.sub-title {
    font-family: var(--utendo-medium);
    color: var(--secondary-color);
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 5px;
    margin: 0;
}
.slider {
    display: inline-flex;
    align-items: center;
    width: max-content;
    margin-right: 90px;
    gap: 90px;  
    animation: scroll 20s linear infinite;
}
.slider img {
    max-width: 100px;
}
@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}
.slider-wrapper {
    white-space: nowrap;
    overflow: hidden;
    width: 80%;
    mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 25%, rgb(0, 0, 0) 75%, rgba(0, 0, 0, 0) 100%);
}
/* trusted-section end*/ 

/* case studies section */
.case-studies-section {
    background-color: var(--light-black);
    padding-top: 80px;
    padding-bottom: 80px;
}
.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 60px;
}
.background-image {
    background-image: url("../images/bg-laptop-image.png");
    background-position: center;
    border-radius: 36px 36px 240px 36px;
    display: block;
    position: relative;
    height: 637px;
}
.background-image::before {
    content: "";
    position: absolute;
    left: -1px;
    right: -1px;
    top: -2px;
    border: 1px solid #4c4c4c8f;
    border-radius: 36px 36px 200px 36px;
    display: block;
    height: 636px;
}
.info-wrapper {
    padding: 50px;
}
.info {
    font-family: var(--utendo-medium);
    font-size: clamp(1.25rem, 0.9562rem + 1.4376vw, 2.25rem);
    line-height: clamp(2rem, 1.6327rem + 1.7969vw, 3.25rem);
    color: var(--primary-color);
    max-width: 75%;
    padding-bottom: 20px;
}
.read-more {
    color: var(--secondary-color);
    display: flex;
    gap: 10px;
    align-items: center;
}
.read-more::after {
    content: "";
    background-image: url("../images/icons/blue-arrow.svg");
    background-repeat: no-repeat;
    height: 17px;
    width: 17px;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient( to right, #000000 17%, transparent 86%, transparent 40%, #000000 100% );
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 36px 36px 240px 36px;
    z-index: 2; 
}
.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    position: absolute;
    bottom: 45px;
}
.count {
    color: var(--primary-color);
    font-family: "utendosemibold";
    font-size: 36px;
}
.info-card {
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(5px);
    box-shadow: -2px -2px 2px #ffffff40;
    border-radius: 24px;
    display: grid;
    line-height: 32px;
    color: #BABABA;
    width: 25%;
    padding: 30px 30px 72px;
    gap: 15px;
}
.case-studies-section .row {
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
    margin-top: 80px;
}
.column-1 {
    flex: 720 1 45%;
}
.column-2 {
    flex: 640 1 40%;
}
.healthcare-wrapper {
    position: relative;
    background: url("../images/Health-card.png") no-repeat;
    background-position: center;
    background-size: cover;
    height: 480px;
    border-radius: 36px 36px 36px 200px;
}
.healthcare-wrapper .info-wrapper {
    float: right;
    padding: 30px;
}
.healthcare-wrapper .info, .travel-wrapper .info {
    max-width: none;
    font-size: 42px;
    font-family: "utendoregular";
}
.travel-wrapper {
    position: relative;
    background: url("../images/Travel-card.png") no-repeat;
    background-position: center;
    background-size: cover;
    height: 480px;
    border-radius: 36px 240px 36px 36px;
}
.healthcare-wrapper::before {
    content: "";
    border: 1px solid #4c4c4cba;
    border-radius: 36px 36px 36px 160px;
    display: block;
    height: 480px;
}
.travel-wrapper::before {
    content: "";
    display: block;
    height: 480px;
    border: 1px solid #4c4c4cba;
    border-radius: 36px 190px 36px 36px;
}
.healthcare-wrapper .overlay {
    background: linear-gradient(211deg, rgba(0, 0, 0, .9) 0%, rgba(0, 0, 0, 0) 100%);
    border-radius: 36px 36px 36px 200px;
}
.travel-wrapper .overlay {
    background: linear-gradient(224deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .9) 100%);
    border-radius: 36px 240px 36px 36px;
}
.travel-wrapper .info-wrapper {
    position: relative;
    bottom: -325px;
    padding: 30px;
}
/* case studies section end*/

/* testimonial section */
.testimonial-section {
    padding-top: 80px;
    padding-bottom: 80px;
}
.column {
    width: 50%;
}
.name-block {
    display: grid;
    align-content: center;
}
.testimonial-section .row {
    display: flex;
    flex-wrap: wrap;
}
.testimonial-wrapper img {
    border-radius: 50%;
    width: 80px;
}
.testimonial-wrapper {
    text-align: center;
    border: 1px solid #373737;
    border-radius: 36px;
    padding: 45px 48px;
    backdrop-filter: blur(2px);
}
.testimonial-wrapper .name {
    color: var(--secondary-color);
    font-family: var(--utendo-medium);
    padding: 15px 0;
}
.testimonial-wrapper .position {
    font-family: "utendolight";
    color: var(--primary-color);
    font-size: 16px;
    padding-bottom: 25px;
}
.testimonial-wrapper .description , .footer-text{
    color: #A4A4A4;
    font-family: "utendolight";
    font-size: 20px;
    letter-spacing: 0.32px;
    line-height: 32px;
}
.review-card-image img {
    border-radius: 36px;
    height: 100%;
}
.testimonial-section .column:last-child {
    display: flex;
    flex-wrap: wrap;
}
.review-card-image, .last-block {
    width: 353px;
}
/* testimonial section end */

/* service section */
.service-section {
    padding-top: 80px;
    padding-bottom: 80px;
}
.service-section .row {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    align-items: center;
}
.service-section .column{
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: calc(50% - 20px);
}
.service-card {
    background-color: #121315;
    color: #CFCFCF;
    border-radius: 36px;
}
.service-block {
    padding: 40px 40px 0;
}
.service-text {
    font-family: "utendolight";
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.36px;
    color: #CFCFCF;
    margin: 36px 0;
}
.service-card .read-more {
    color: var(--primary-color);
}
.service-card .read-more::after {
    background-image: url("../images/icons/white-arrow.svg");
}
/* service section end */

/* tab section */
.tab-section {
    padding-top: 80px;
    padding-bottom: 80px;
}
.tab-wrapper {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.tabs {
    display: flex;
    border: 1px solid #212121;
    border-radius: 50px;
}
.tab {
    flex: 1;
    font-family: "utendoregular";
    padding: 15px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    background-color: var(--light-black);
    border: none;
    color: var(--primary-color);
    border-radius: 50px;
}
.tab:hover {
    background-color: #292727;
}
.tab.active {
    background-color: var(--primary-color);
    color: var(--light-black);
}
.tab-panel {
    display: grid;
    grid-template-columns: repeat(7, minmax(0, 1fr));
    gap: 20px;
}
.grid {
    display: grid;
    background-color: #121315;
    color: var(--primary-color);
    border-radius: 16px;
    text-align: center;
    padding: 30px 0;
    cursor: pointer;
    transition: all .3s ease-in-out;
}
.grid:hover {
    box-shadow: rgba(255, 255, 255, 0.15) -2px -2px 2px 0px;
}
.grid-image {
    width: 60px;
    margin: 0 auto;
    height: 85px;
    display: flex;
    align-items: center;
}
.item-name {
    margin-top: 22px;
    font-size: 18px;
}
/* tab section end */

/* about-us section */
.aboutus-section {
    padding-top: 80px;
    padding-bottom: 80px;
}
.aboutus-section .column{
    display: grid;
    gap: 40px;
    width: 100%;
}
.aboutus-section .column-first {
    grid-template-columns: 27.78% 38.89% 27.78%;
}
.aboutus-section .column-second {
    grid-template-columns: 27.78% 27.78% 38.89%;
}
.aboutus-section .row {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.about-us-wrapper {
    position: relative;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(19, 20, 22, 1) 100%);
    border-radius: 36px;
    overflow: hidden; 
}
.about-us-wrapper::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 36px; 
    background: linear-gradient(0deg, transparent, #232121);
    padding: 1.5px; 
    -webkit-mask: 
        linear-gradient(#fff 0 0) content-box, 
        linear-gradient(#fff 0 0); 
    -webkit-mask-composite: destination-out;
    mask-composite: exclude; 
}
.aboutus-block {
    background-repeat: no-repeat;
    background-position: center;
    height: 250px;
    width: 400px;
    display: flex;
    justify-content: center;
    max-width: 100%;
}
.block1 {
    background-image: url("../images/Secure-information.png");
}
.block2 {
    background-image: url("../images/Tailored-solutions.png");
    width: 560px;
}
.block3 {
    background-image: url("../images/partnership.png");
}
.block4 {
    background-image: url("../images/Project.png");
}
.block5 {
    background-image: url("../images/communication.png");
}
.block6 {
    background-image: url("../images/experts.png");
    width: 560px;
}
.about-img {
    box-shadow: 0 0 200px rgba(0, 58, 255, 0.6);
    border-radius: 50%;
    margin: auto;
    display: flex;
}
.aboutus-text {
    color: var(--primary-color);
    padding: 30px;
}
.summary-text {
    color: #A4A4A4;
    font-size: 18px;
    line-height: 29px;
    margin-top: 20px;
}
.about-title {
    font-family: var(--utendo-medium);
    font-size: 24px;
}
/* about-us section end */

/* blog section  */
.blog-section {
    padding-top: 80px;
    padding-bottom: 80px;
}
.blog-section .row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}
.blog-card {
    border-radius: 24px;
    border: 1px solid #212121;
    color: var(--primary-color);
    letter-spacing: 0.36px;
    padding: 10px 10px 30px;
}
.blog-area {
    background-color: #121315;
}
.text-block {
    padding: 30px 20px 0;
}
.blog-card-text {
    font-size: 16px;
    line-height: 26px;
    color: #8E8E8E;
}
.blog-card-title {
    font-size: 24px;
    line-height: 36px;
    padding: 18px 0;
}
.blog-card-description {
    font-family: "utendolight";
    font-size: 18px;
    line-height: 28px;
    color: #8E8E8E;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
}
.img-border {
    border-radius: 16px;
}
.blog {
    position: relative;
}
.blog::after {
    content: "";
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .9800000190734863) 100%);
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 16px;
}
/* blog section end */

/* faq section  */
.faq-section {
    padding-top: 80px;
    padding-bottom: 80px;
}
.faq-section .row {
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
}
.faq-section .column-1 {
    flex: 2;
}
.faq-section .column-2 {
    flex: 3;
}
.faq-content {
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0.36px;
    color: #CFCFCF;
    padding: 30px 0 40px;
}
.accordion-item {
    border-bottom: 1px solid #1B1B1B;
    padding: 36px 0;
}
.accordion-item:last-child {
    border-bottom: none;
    padding: 36px 0 0;
}
.accordion-header {
    color: #A4A4A4;
    font-family: "utendolight";
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px; 
    line-height: 32px;
    letter-spacing: 0.36px;
}
.accordion-header.open {
    color: var(--primary-color);
    font-family: "utendoregular";
}
.minus-icon {
    background: url("../images/icons/minus.svg") center no-repeat;
    height: 20px;
    width: 20px;
    border: none;
}
.plus-icon {
    background: url("../images/icons/plus.svg") center no-repeat;
    height: 20px;
    width: 20px;
    border: none;
}
.accordion-content {
    font-family: "utendolight";
    display: none;
    padding-top: 30px;
    color: var(--primary-color);
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.36px;
}
.accordion-content.open {
    display: block;
}
/* faq section end */

/* call section  */
.call-section {
    padding-top: 80px;
    padding-bottom: 160px;
}
.call-wrapper {
    text-align: center;
    background-image: url("../images/BG-shadow.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    padding: 82px 0;
    box-shadow: 0px 28px 8px rgba(0, 0, 0, 0.2);
    position: relative;
}
.call-wrapper::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 3px;
    left: -1px;
    right: 1px;
    bottom: 5px;
    border-radius: 36px; 
    background: linear-gradient(0deg, #444444, #5f5757); 
    padding: 1.5px; 
    -webkit-mask: 
        linear-gradient(#fff 0 0) content-box, 
        linear-gradient(#fff 0 0); 
    -webkit-mask-composite: destination-out;
    mask-composite: exclude; 
}
.call-section .h2 {
    padding-bottom: 60px;
    max-width: 67%;
    margin: 0 auto;
}
/* call section end  */

/* footer */
footer {
    color: var(--primary-color);
    padding: 60px 0 25px 0;
    border-top: 1px solid #1B1B1B;
}
footer .column {
    width: 24%;
}
.second-column {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    gap: 50px;
}
.footer-title {
    font-family: var(--utendo-medium);
    font-size: 24px;
    color: var(--secondary-color);
    margin-bottom: 40px;
}
.row-footer{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: space-between;
}
.footer-logo {
    margin-bottom: 30px;
    display: inline-block;
}
.footer-nav li {
    margin-top: 16px;
}
.footer-nav li a , .copyright-text , .footer-column-text li a {
   font-family: "utendolight";
   font-size: 18px;
   line-height: 24px;
   color: var(--primary-color);
}
.social-icons {
    display: flex;
    gap: 20px;
    margin-top: 40px;
}
.fa {
    display: inline-block;
    width: 42px;
    height: 42px;
}
.fa-instagram {
    background: url("../images/icons/instagram.svg") no-repeat center;
}
.fa-facebook {
    background: url("../images/icons/facebook.svg") no-repeat center;
}
.fa-linkedin {
    background: url("../images/icons/linkedin.svg") no-repeat center;
}
.row-copyright {
    margin-top: 68px;
    border-top: 1px solid #1B1B1B;
}
.columns {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    max-width: 1480px;
    margin: 0 auto;
    padding: 25px 20px 0;
}
.footer-column-text {
    display: flex;
    gap: 20px;
}
.footer-column-text li a{
    border-right: 2px solid var(--primary-color);
}
.footer-column-text li:last-child a{
    border: none;
    padding: unset;
}
.footer-column-text li a {
    padding-right: 20px;
}
.column-footer:last-child {
    display: none;
}
/* footer end */
.menu-icon, .menu-icon-btn, .mobile-menu, .mobile-btn {
    display: none;
}
@media (max-width: 1200px) {
    /* .testimonial-section .column:last-child {
        display: inline-flex;
    }
    .last-block {
       flex: 100%;
    } */
}
@media (max-width: 1024px) {
    .menu-icon {
        display: block;
        height: 26px;
        width: 26px;
    }
    .logo, .nav-list, .navbar .button{
        display: none;
    }
    .menu-icon-btn{
        background: url("../images/icons/Menu.svg");
        height: 48px;
        width: 48px;
        display: block;
        border: none;
        background-position: center;
        background-repeat: no-repeat;
    }
    .mobile-menu {
        position: fixed;
        z-index: 99;
        top: 0;
        right: 0;
        width: 100%;
        height: 400px;
        display: block;
        background-color: rgba(10, 10, 10, 0.9);
        transform: translateY(-100%);
        transition: transform 0.3s ease-in-out;
        padding: 30px;
        text-align: center;
    }
    .menu-icon-btn:focus ~ .mobile-menu {
        transform: translateY(0);
        top: 85px;
    }
    .mobile-menu li{
        margin-bottom: 30px;
    }
    .hero-wrapper {
        width: 90%;
        padding: 100px 0;
    }
    .navbar .mobile-btn {
        display: inline-block;
    }
    .case-studies-section .row {
        gap: 40px;
    }
    .info {
        max-width: 100%;
    }
    .travel-wrapper .info, .healthcare-wrapper .info {
        font-size: 38px;
    }
    footer .column {
        width: 100%;
    }
    .tab {
        padding: 5px;
    }
    .tab-panel {
        grid-template-columns: repeat(5, minmax(0, 1fr));
    }
}
@media (max-width: 768px) {
    .column-1, .column-2 {
        flex: 100%;
    }
    .cards {
        gap: 24px;
        margin-right: 24px;
    }
    .info-card {
        width: 100%;
        padding: 24px;   
    }
    .info-wrapper {
        padding: 25px;
    }
    .second-column {
        grid-template-columns: repeat(2, 200px);
        gap: 20px;
    }
    .column-footer:last-child {
        display: block;
    }
    .footer-column-text {
        display: none;
    }
    .column, .last-block, .service-section .column {
        width: 100%;
    }
    h3, .h3 {
        line-height: 36px;
    }
    .service-text {
        margin: 24px 0;
    }
    .service-block {
        padding: 24px 24px 0;
    }
    .service-card {
        border-radius: 36px;
    }
    .aboutus-section .column {
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width: 425px) {
    .hero-wrapper {
        width: 100%;
        padding: 54px 0;
    }
    .sub-title {
        font-family: "utendoregular";
        font-size: 14px;
    }
    .trusted-section {
        gap: 12px;
    }
    .review-text {
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 28px;
    }
    .review-text.desc {
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0.36px;
    }
    .info {
        font-family: "utendoregular";
    }
    .info-card {
        font-size: 16px;
        line-height: 26px;
    }
    .count {
        font-size: 24px;
    }
    .read-more {
        font-size: 18px;
    }
    .second-column {
        grid-template-columns: repeat(2, 142px);
    }
    .footer-title {
        font-size: 20px;
        margin-bottom: 24px;
    }
    .footer-nav li a {
        font-size: 16px;
        line-height: 22px;
    }
    .footer-nav li {
        margin-top: 12px;
    }
    .footer-text {
        font-size: 18px;
        line-height: 28px;
    }
    .footer-logo {
        margin-bottom: 22px;
    }
    .social-icons {
        margin-top: 16px;
    }
    footer {
        padding: 40px 0 20px 0;
    }
    .row-copyright {
        margin-top: 40px; 
    }
    .service-text {
        font-size: 16px;
        line-height: 26px;
    }
    .aboutus-section .column {
        grid-template-columns: 1fr;
    }
}
@media (max-width: 375px) {
    .healthcare-wrapper .info,  .travel-wrapper .info {
        font-size: 34px;
    }
    
}